/* todo: delete file if not needed */
.general-text{
    font-size: 0.80rem;
}

.title-text{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem !important;
    color: rgb(142, 190, 218);    
}

.subtitle-text{
    padding-left: 1rem;
    padding-top: 1rem;
    color: rgb(100, 164, 173);
    font-size: 0.90rem !important;
}


@media screen and (max-width: 600px) {
    .card-img-bottom{
        width: 89% !important;
        padding: 0.5rem; 
    }

    .card-img-top{
        padding-top: 0.5rem;
    }
}

@media screen and (min-width: 600px) {
    .card-img-bottom{
        width: 25rem !important;
        padding: 0.5rem; 
    }

    .card-img-top{
        padding-top: 0.5rem;
        width: 50rem !important;
    }
}